[run]
source = src
branch = True
omit =
    src/__pycache__/*
    src/setup/*

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    \.\.\.

[html]
directory = test-results/coverage_html
title     = Go Now Coverage Report (B반 1팀)